body{
    background-image: url(/images/bg.jpg);
}

h3{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    text-decoration: underline ;
}

@keyframes fadeInScale { 
    0%{
        opacity: 1;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container{
    animation: fadeInScale 1s ease-in-out;
    background-color: whitesmoke;
    opacity: 0.8;
    width: 400px;
    margin: auto;
    border: solid white 2px;
    border-radius: 10px;
}

.container .content .bmenu {
    list-style-type: none;
    padding: 10px;
}

.container .content .bmenu li{
    padding-top: 20px;
    display: block;
}

.container .content .bmenu li a{
    text-decoration: none;
    width: 300px;
    font-size: 40px;
    background-color: rgb(3, 18, 18);
    color: chocolate;
    /* width: 300px; */
    text-align: center;
    display: block;
    margin: auto;
    border: solid chocolate 1px;
    border-radius: 5px;
}

.container .content .bmenu li a:hover{
    background-color: chocolate;
    color: blue;
}

